

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Create Students
            
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <form name="StudentCreate.userForm" ng-submit="StudentCreate.submitForm()" novalidate>
            <!-- USERNAME -->
            <div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.name.$invalid && !StudentCreate.userForm.name.$pristine }">
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="StudentCreate.user.name" ng-minlength="3" ng-maxlength="25">
                <p ng-show="StudentCreate.userForm.name.$error.minlength" class="help-block">Username is too short.</p>
                <p ng-show="StudentCreate.userForm.name.$error.maxlength" class="help-block">Username is too long.</p>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.email.$invalid && !StudentCreate.userForm.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="StudentCreate.user.email" required>
                <p ng-show="StudentCreate.userForm.email.$invalid && !StudentCreate.userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <!-- PHONE -->
            <div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.roll.$invalid && !StudentCreate.userForm.roll.$pristine }">
                <label>Roll</label>
                <input type="text" name="roll" class="form-control" ng-model="StudentCreate.user.roll" ng-minlength="3" ng-maxlength="20" required>
                <p ng-show="StudentCreate.userForm.roll.$error.minlength" class="help-block">Phone is too short.</p>
                <p ng-show="StudentCreate.userForm.roll.$error.maxlength" class="help-block">Phone is too long.</p>
            </div>

            <!--Class -->
            <!--<div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.class.$invalid && !StudentCreate.userForm.class.$pristine }">
                <label>Class</label>
                <select name="class" class="form-control" data-ng-model="StudentCreate.user.class" data-required="true">
                    <option value="" selected>Please select a Class</option>
                    <option ng-repeat="class in StudentCreate.allClass" value="{{class.id}}">
                        {{class.name}}
                    </option>
                </select>
            </div> -->

            <!--Class -->
            <!--<div class="form-group" ng-class="{ 'has-error' : StudentCreate.userForm.gender.$invalid && !StudentCreate.userForm.gender.$pristine }">
                <label>Gender</label>
                <label ng-repeat="item in StudentCreate.filterOptions" class="">
                    <input type="checkbox" name="StudentCreate.user.selectedFilterColumn" ng-value="item.value" ng-model="item.selected" />
                    <span>{{item.text}}</span>
                </label>
            </div>-->

            <!--Course -->
            <div class="form-group">
                <label ng-repeat="item in StudentCreate.courses">
                    <input type="checkbox" name="selectedCourseItem" ng-value="item.value" ng-model="item.selected" ng-change="StudentCreate.selectCourse()" />
                    <span class="space-margin5">
                        {{item.Name}}
                    </span>
                </label>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="StudentCreate.userForm.$invalid">Submit</button>

        </form>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a href="#/student" class="btn btn-primary pull-right"> Back to List</a>
    </div>
</div>
